asgiref==3.5.2
dj-database-url==2.3.0
Django==4.1.4
djangorestframework==3.13.1
drf-yasg==1.21.8
gunicorn==23.0.0
inflection==0.5.1
packaging==24.2
psycopg2==2.9.10
psycopg2-binary==2.9.5
pytz==2024.2
PyYAML==6.0.2
sqlparse==0.4.3
typing_extensions==4.12.2
tzdata==2022.7
uritemplate==4.1.1
whitenoise==6.2.0
